<div class='header'>
    <div class='header__container container'>
        <div class='header__logo'>
            <a routerLink='/'>
                <img src='assets/images/logo.svg' alt='Logo' />
            </a>
        </div>
        <ul class='header__list'>
            <a routerLink="/male" routerLinkActive='header__item--active' class='header__item'>Мужское</a>
            <a routerLink='/female' routerLinkActive='header__item--active' class='header__item'>Женское</a>
            <a routerLink='/unisex' routerLinkActive='header__item--active' class='header__item'>Унисекс</a>
            <a routerLink='/sale' routerLinkActive='header__item--active' class='header__item'>Sale</a>
            <a routerLink='/faq' routerLinkActive='header__item--active' class='header__item'>FAQ</a>
            <a routerLink='/transaction' routerLinkActive='header__item--active' class='header__item'>Безопасная
                сделка</a>
            <a routerLink='/rules' routerLinkActive='header__item--active' class='header__item'>Правила пользования</a>
        </ul>
        <ul class='header__info info'>
            <li class='info__item'>
                <img src='assets/images/fav.svg' alt='Fav' />
            </li>
            <li class='info__item'>
                <img src='assets/images/person.svg' alt='Person' />
            </li>
            <li class='info__item'>
                <a class='info__btn btn' href='##'>Подать</a>
            </li>
        </ul>
    </div>
</div>