
.slider {
    margin-top: 32px;

    &__title {
        padding: 0;
        margin: 0;
        margin-bottom: 16px;
        font-weight: 700;
        font-size: 36px;
        line-height: 43px;
        color: #121720;
    }

    &__caption {
        padding: 0;
        margin: 0;
        margin-bottom: 16px;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: #121720;
    }

    &__link {
        padding: 0;
        margin: 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #7984C0;
        text-decoration: none;
    }

    &__btn {
        display: block;
        margin-top: 32px;
        padding: 14px 0px 14px 32px;
        width: 145px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            right: 20px;
            top: 13px;
            background-image: url('../../../assets/images/south_east.svg');
            background-repeat: no-repeat;
            width: 24px;
            height: 24px;
        }
    }

    &__case {
        padding-top: 79px;
        padding-left: 32px;
        position: relative;
        width: 400px;
    }

    &__img {
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }
}
