<div class='slider'>
    <div class='container'>
        <swiper [spaceBetween]="20" [pagination]="{
            clickable: true
          }" class="mySwiper">
            <ng-template swiperSlide>
                <div class='slider__case'>
                    <h2 class='slider__title'>Быть на стиле - <br /> значить быть первым</h2>
                    <h3 class='slider__caption'>-20% летняя распродажа</h3>
                    <a href="##" class='slider__link'>Условия проведения акции</a>
                    <a href="##" class='slider__btn btn'>Подробнее</a>
                </div>
                <img src='assets/images/foto__slider.png' alt='Face' class='slider__img' />
            </ng-template>
            <ng-template swiperSlide>
                <div class='slider__case'>
                    <h2 class='slider__title'>Быть на стиле - <br /> значить быть первым</h2>
                    <h3 class='slider__caption'>-20% летняя распродажа</h3>
                    <a href="##" class='slider__link'>Условия проведения акции</a>
                    <a href="##" class='slider__btn btn'>Подробнее</a>
                </div>
                <img src='assets/images/foto__slider.png' alt='Face' class='slider__img' />
            </ng-template>
            <ng-template swiperSlide>
                <div class='slider__case'>
                    <h2 class='slider__title'>Быть на стиле - <br /> значить быть первым</h2>
                    <h3 class='slider__caption'>-20% летняя распродажа</h3>
                    <a href="##" class='slider__link'>Условия проведения акции</a>
                    <a href="##" class='slider__btn btn'>Подробнее</a>
                </div>
                <img src='assets/images/foto__slider.png' alt='Face' class='slider__img' />
            </ng-template>
            <ng-template swiperSlide>
                <div class='slider__case'>
                    <h2 class='slider__title'>Быть на стиле - <br /> значить быть первым</h2>
                    <h3 class='slider__caption'>-20% летняя распродажа</h3>
                    <a href="##" class='slider__link'>Условия проведения акции</a>
                    <a href="##" class='slider__btn btn'>Подробнее</a>
                </div>
                <img src='assets/images/foto__slider.png' alt='Face' class='slider__img' />
            </ng-template>
        </swiper>
    </div>
</div>